
<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
	<h1>Mostra artisti</h1>
	<div th:if="${artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/setDirectorToMovie' + '/' + ${artist.id} + '/' + ${movie.id}}"
				th:text="${artist.name} + ' (' + ${artist.surname} + ')'">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>