<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwMovie - Homepage
		</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	<body>
		<div><img src="/logo-siw.png" width="50%"/></div>
		<h1>Operazioni</h1>
		<div>
			<a href="/indexMovie">Operazioni film</a>
		</div>
		<div>
			<a href="/formNewArtist">Inserisci i dati di un artista</a>
		</div>
		<div>
			<a href="/artists">Mostra tutti gli artisti</a>
		</div>
		<div>
			<a href="/formNewNews">Inserisci i dati di una news</a>
		</div>
		<div>
			<a href="/generalNews">Mostra tutte le news</a>
		</div>
	</body>
</html>